[submodule "verilog"]
	path = verilog
	url = https://github.com/Virviglaz/verilog.git
[submodule "stm8l"]
	path = stm8l
	url = https://github.com/Virviglaz/STM8L.git
[submodule "stm8s"]
	path = stm8s
	url = https://github.com/Virviglaz/STM8S.git
[submodule "stm8s_stdperiph_driver"]
	path = stm8s_stdperiph_driver
	url = https://bitbucket.org/Virviglaz/stm8s_stdperiph_driver.git
[submodule "stm32f103"]
	path = stm32f103
	url = https://Virviglaz@bitbucket.org/Virviglaz/stm32f103.git
