name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - name: Setup GCC
      uses: Dup4/actions-setup-gcc@v1
      with:
        version: latest
    - name: Install JSONCPP
      run: sudo apt-get install libjsoncpp-dev
    - name: Compile only
      run: make -C Common/compile all
    - name: Built and test
      run: make -C Common/test test
    - name: Run linux server tests
      run: make -C Linux/server test
